/* 네비게이션 바, 푸터 스타일 */

.wrap {
    width: 100%;
    max-width: 1280px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.nav_bg {
    background-image: url("nav_bg.png");
    width: 100%;
    height: 80px;
}

.logoArea {
    width: 300px;
    height: 40px;
}

.logoArea img {
    width: 150px;
    height: auto;
    margin-top: 5px;
}

.header {
    display: flex;
    width: 1280px;
    height: 80px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 80px;
    width: calc(1280px - 300px);
}

.nav a {
    color: white;
}

.nav > li {
    margin-left: 84px;
}

/* 푸터 스타일 */
.footer {
    width: 100%;
    height: auto;
    display: block;
}

.footer img {
    width: 100%;
    height: auto;
    display: block;
}
