.logoArea{
    width: 300px;
    height: 40px;
}

.logoArea img{
    width:150px;
    height:auto;
    margin-top: 5px;
}

.header{
    display:flex;      /*자식요소 수평 배치*/
    width:1280px;
    height:80px;
    margin:auto;
}

.nav_bg{
    background-image: url("nav_bg.png");
    width:100%;
    height:80px;
}

.nav{
    display:flex;
    justify-content: flex-end;
    line-height: 80px;
    width:calc(1280px-300px);
}

.nav a{
    color: white;
}

.nav > li{
    margin-left: 84px;
}
.nav > .login{
    margin-left: 84px;
    margin-right: 0px;
}
.nav > .register{
    margin-left: 0px;
}
