.notice-container {
  padding: 0 20px; /* Adds padding to the left and right */
  margin: 0 auto;  /* Centers the container horizontally */
  max-width: 1200px; /* Optional: Limits the max width of the content */
}

.button {
  background-color: white;  /* White background */
  color: #4a5359;  /* Dark text color */
  font-size: 1rem;  /* Reduced font size */
  padding: 10px 20px;  /* Reduced padding */
  border: 2px solid #4a5359;  /* Black border with thickness */
  border-radius: 30px;  /* Fully rounded corners */
  cursor: pointer;  
  display: block;  /* Makes it a block element to center it */
  text-align: center;  
  width: 200px;  /* Reduced button width */
  margin: 0 auto;  /* Centers the button */
  line-height: 1.5;
  background: transparent;  /* Ensure transparency inside button */
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0 40px; 
}

.footer-space {
  margin-bottom: 40px; 
}

.button:hover {
  background-color: #4a5359; 
}


.title h1 {
  font-size: 2rem;
  text-align: left;
  color: #333;
  margin-bottom: 20px;
  margin-top: 70px;
}

.announcement {
  margin-top: 30px;
}

.announcement h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

.info {
  font-size: 1.2rem;
  color: #707070;
  margin-bottom: 30px;
}

.details {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 300px; 
}

.write-button {
  background-color: #545C62;  
  color: white; 
  font-size: 0.9rem;  
  padding: 15px 15px;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;  
  width: 200px;  
  margin: 0 auto; 
  display: block;  
  text-align: center;  
  line-height: 1.5; 
  margin-bottom: 30px;  
}

.section img {
  width: 100%;
  height: auto;
  display: block;
}

.prev-next {
  display: flex;
  flex-direction: column; 
  font-size: 1.1rem;
  margin-top: 20px;
}

.prev-next .label {
  font-weight: bold;
  color: #333;
}

.prev-next .prev,
.prev-next .next {
  margin-bottom: 3px; 
}
