

.container {
    width: 90%;
    max-width: 1200px; 
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title-bar {
    text-align: left; 
    background-color: #A6B1BB;
    color: #FFFFFF;
    padding: 12px 20px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    height: auto; 
    margin-bottom: 30px; 
}


.reservation-container, .reservation-summary-container {
    width: 90%; 
    max-width: 1200px; 
    margin: 50px auto; 
    padding: 20px;
    box-sizing: border-box;
}

.reservation-table, .reservation-summary-table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
}

.reservation-table th,
.reservation-table td,
.reservation-summary-table th,
.reservation-summary-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 0.9rem;
}

.reservation-table th,
.reservation-summary-table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.reservation-table tbody tr:nth-child(odd),
.reservation-summary-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.reservation-table tbody tr:hover,
.reservation-summary-table tbody tr:hover {
    background-color: #f1f1f1;
}


.section img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0px auto; 
    margin-bottom: 100px;
}


.delete-btn, .delete-all-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #A6B1BB;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 20px auto; 
}

.delete-btn:hover, .delete-all-button:hover {
    background-color: #8D9AA7; 
}

#footer {
    width: 100%;
    background-color: #A6B1BB;
    padding: 20px 0;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px; 
}


.reservation-container h2,
.reservation-summary-container h2 {
    margin-top: 50px; 
    font-size: 1.5rem;
    text-align: center; 
    color: #333;
}


@media (max-width: 768px) {
    .container, .reservation-container, .reservation-summary-container {
        width: 95%; 
    }

    .title-bar {
        font-size: 1.5rem; 
    }

    .reservation-table th, .reservation-table td,
    .reservation-summary-table th, .reservation-summary-table td {
        font-size: 0.8rem; 
    }

    .delete-btn, .delete-all-button {
        font-size: 0.9rem; 
        padding: 8px 15px; 
    }
}
